@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

/* navigation section */
.bg-nav {
  background-color: #423e37 !important;
}
.text-light {
  color: #edebd7 !important;
}

.nav-link {
  color: #edebd7;
}

.h5 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
}
